{% extends 'backpack/layout.html.twig' %}

{% block page_subtitle %}Modification
{% endblock %}

{% block breadcrumb %}
	{% import "backpack/actions.html.twig" as actions %}
	{{ actions.backpack(
        'edit',
        item.currentState,
        item.owner==app.user,
        item,
        null
    ) }}
{% endblock %}

{% block page_content %}

	<div class="row justify-content-center">
		<div class="" style="width:960px">

			{{ render(controller('App\\Controller\\GPIController::showGPIAction', { 'page': 'backpack_add'})) }}

			{{ include(domaine ~ '/_edit/_item_draft.html.twig') }}

		</div>
	</div>

{% endblock %}

{%  block javascripts %}
{{ parent() }}
<script src="{{ absolute_url( asset('/vendor/axios/dist/axios.min.js')) }}"></script>

<script src="{{ absolute_url( asset('/js/es_widget.js')) }}"></script>
<script src="{{ absolute_url( asset('/js/es_category.js')) }}"></script>


<script type="text/javascript">



/*##################################
####################################
####        MP / P          ########
####################################
##################################*/

let mp_less = $('#cmb_mp');
let mp_radio = $('#mp_radio');
let mp = $('#backpack_mProcess');
let idMp={{ item.mProcess is null ?0:item.mProcess.id }};


let p_less = $('#cmb_p');
let p_radio = $('#p_radio');
let p = $('#backpack_process');
let idP={{ item.process is null ?0:item.process.id }};


let route_mp = "{{ path('ajax_cmb_mp_for_contribute') }}";
let route_p = "{{ path('ajax_cmb_p_for_contribute') }}";
	

	
fillComboboxMP(mp_less, route_mp, idMp);
fillComboboxMP(p_less, route_p,idP);


required(mp_less);
disabled(p_less);


mp_less.change(function () {
    setVal(mp, getVal(mp_less));
});


p_less.change(function () {
    setVal(p, getVal(p_less));
});


mp_radio.on('ifChecked', function () {
    required(mp_less);
    undisabled(mp_less);
    disabled(p_less);
    setVal(p_less, 0);
	setVal(p, 0);
});


p_radio.on('ifChecked', function () {
    unrequired(mp_less);
    disabled(mp_less);
    undisabled(p_less);
    setVal(mp_less, 0);
	setVal(mp, 0);
});



// si le process est présent on coche la case Process
if (idP != 0) {
p_radio.iCheck('check');
	mp_radio.iCheck('uncheck');
}

// nécessaire pour l'update es images
$('#backpack_updateAt_date_month').val(new Date().getMonth() + 1);
$('#backpack_updateAt_date_day').val(new Date().getDay());
$('#backpack_updateAt_date_year').val(new Date().getFullYear());
$('#backpack_updateAt_time_hour').val(new Date().getHours());
$('#backpack_updateAt_time_minute').val(new Date().getMinutes());
</script>
{% endblock %}
