{%  macro identification(item) %}
	{% import "macros/widgets.html.twig" as widgets %}
	{% import "macros/user.html.twig" as user %}
	<div class="row ">
		<div class="col-12 d-flex justify-content-around  align-items-center">
			<div class="users-list">
				{{ user.view(item.owner) }}
			</div>
			<small class="text-muted ">
				Modifié le
				<strong>{{ widgets.showLongDate (item.updateAt) }}</strong>
			</small>
		</div>
	</div>
{% endmacro %}

{% macro icone(item) %}
	<i class="{{ item.category.icone }} fa-2x" style="
		{% if item.category.forecolor is defined %}
			color:{{ item.category.forecolor }};
		{% endif %}
{% if item.category.bgcolor is defined %}
	background-color:{{ item.category.bgcolor }};
{% endif %}

" title="{{ item.category.name }}"></i>


{% endmacro %}
