{% macro view(item) %}

    <a href="{{ path('user_show', {'id': item.id}) }}" class="p-1 user-animate ">
        <div class="image">
            <img  class="img-circle img-bordered-sm"
                 src="{{ asset(item.avatar) }}" style="width: 48px"
                 alt="avatar">
            <span class="text-bold {% if item.isEnable is same as(false) %}text-warning {% endif %}">
                {{ item.name }}
            </span>
        </div>
    </a>
{% endmacro %}

{% macro views(items) %}
    {% import _self as usr %}
    <div class="{{ row_lst }}">
        {% for item in items %}
            {{ usr.view(item) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro messageEmailValidated(item) %}
    {% if item.emailvalidated == false %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-ban"></i> Adresse mail non vérifiée !</h5>
            <p>
                Attention votre adresse mail n'a pas encore été vérifiée.
            </p>
            <p>
                <a href="{{ path('profil_sendmail_email_validated') }}" class="text-primary">Cliquer ici</a> pour
                renvoyer le lien de
                vérification.
            </p>
        </div>
    {% endif %}
{% endmacro %}

{% macro messageShowGestionnaire(items) %}
    {% if items|length ==0 %}
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-ban"></i> Aucune rubrique !</h5>
            <p>
                Vous ne pouvez pas encore consulter les documents présents dans cette application.
            </p>
            <p>
                Merci de contacter un gestionnaire afin de vous attribuer des droits.
            </p>
            <p>
                <a href="{{ path('gestionnaire') }}" class="text-primary">Cliquer ici</a> pour consulter la liste des
                gestionnaires
            </p>
        </div>
    {% endif %}
{% endmacro %}


{% macro vignette(item, route_show, role) %}
    {% embed 'widgets/card-widget.html.twig' %}
        {% import "macros/widgets.html.twig" as widgets %}
        {% block card_class %} h-100 border-light shadow{% endblock %}
        {% block card_ribbon %}
            <div class="ribbon-wrapper ribbon-lg ">
                <div class="ribbon  bg-gradient-fuchsia">
                    {{ widgets.icon(role) }} {{ role }}
                </div>
            </div>
        {% endblock %}
        {% block card_body_class %}text-center{% endblock %}
        {% block card_body %}
            <div class="box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle"
                         src="{{ asset(item.avatar) }}"
                         alt="User profile picture">
                </div>
            </div>
            <a href="{{ path(route_show,{id:item.id}) }}">
                <h5 class="text-bold {{ item.isEnable?'':'text-danger' }}">{{ item.name }}</h5>
            </a>
            <div class="text-muted">
                <a href="mailto:{{ item.email }}" data-html="true"
                   data-toggle="tooltip" data-placement="top">
                    <span class="{{ item.isEnable?'':'text-danger' }}">{{ item.email }}</span>
                </a>
            </div>
        {% endblock %}
        {% block card_footer %}
            {% if item.phone %}
                <small class="text-muted">
                    {{ widgets.icon('phone') }} {{ item.phone }}
                </small>
            {% endif %}
            {% if item.content %}
                <small class="text-muted">
                    {{ item.content |raw }}
                </small>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endmacro %}

{% macro vignettes(items, route_show, role) %}
    {% import _self as macro %}

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        {% for item in items %}
            <div class="col mb-4">
                {{ macro.vignette(item,route_show,role) }}
            </div>
        {% endfor %}
    </div>

{% endmacro %}
